---
const pathname = Astro.url.pathname;
---

<header class="header">
  <ul class="nav-list">
    <li class="nav-item">
      <a class:list={["nav-link", {active: pathname === '/'}]} href="/">HOME</a>
    </li>
    <li class="nav-item">
      <a class:list={["nav-link", {active: pathname.includes('/article')}]} href="/article">記事一覧</a>
    </li>
    <li class="nav-item">
      <a class:list={["nav-link", {active: pathname === '/contact' || pathname === '/contact/'}]} href="/contact">お問い合わせ</a>
    </li>
  </ul>
</header>

<div>{pathname}</div>

<style lang="scss">
  .nav-list {
    display: flex;
    gap: 2rem;
    list-style: none;
  }

  .nav-link {
    color: #333;
    text-decoration: none;

    &.active {
      color:red;
    }
  }
</style>